html, body {
    height: 100%;
}

#content {
    margin-top: 30px;
}

.bg-img {
    background-image: url("/img/login_background.png");
    background-size: cover;
    height: 100%;
}

.jumbotron {
    background-image: url("/img/jumbotron_image.png");
    background-size: cover;
    color: #FFFFFF;
    height: 600px;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    padding-bottom: 20px;
}

.navbar-top {
    background-color: #FFFFFF;
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.navbar-top a {
    color: #bdbdbd;
}

.navbar-top a:hover {
    color: #FFFFFF;
}

.page-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.easy-container {
    background-color: #3498db;
    width: 100%;
}

.para {
    font-size: 25px;
}

.pricing {
    text-align: center;
    border: 1px solid #f0f0f0;
    padding: 20px;
    list-style-type: none;
    width: max-content;
}

.pricing li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing li + li {
    border-top: 1px solid #f0f0f0;
}


