
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 250px;
    position: fixed;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.65rem 1.8rem;
    font-size: 1.5rem;
    color: #424242;
}



#sidebar-wrapper a{
    color: #424242;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#page-content-top {
    background-color: #FFFFFF;
}

.selected-btn {
    border-left: 5px solid #f44336;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.1);
}

.unselect-btn {
    padding-left: 20px;
}

#sidebar-wrapper a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#page-content-wrapper {
    min-width: 100vw;
    padding-left: 250px;
}

.data_sum {
    padding: 30px;
    background-color: #FFFFFF;
    color: #696969;
    height: 125px;
    width: 100%;
    border-bottom: 20px solid #e55039;
    text-align: center;
}

table {
    margin: auto;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 5px;
    min-height: 100px;
}

table td, th {
    text-align: center;
    height: 60px;
}

th {
    background-color: #FFFFFF;
    color: #424242;
    height: 50px;
    border-bottom: 1px solid #BDBDBD;
}

.main-container {
    background-color: #F5F5F5;
    min-height: 100vh;
}

.connected-status {
    background-color: #2ecc71;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.disconnected-status {
    background-color: #e15f41;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.panel {
    background-color: #FFFFFF;
    padding-bottom: 5px;
    width: 90%;
    margin: auto;
}

.panel-top {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    color: #424242;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #BDBDBD;
}

.panel-content {
    margin: auto;
    padding: 20px;
}

.settings-button {
    border:none;
    background-color: transparent;
    background-image:url('/img/settings.png');
    background-repeat:no-repeat;
    background-position:top left;
    background-size: 40px;
    width: 40px;
    height: 40px;
}

.button-success {
    background-color: #778beb;
    color: #FFFFFF;
}

.button-error {
    background-color: #e15f41;
    color: #FFFFFF;
}

#map {
    height: 100%;
}
